
.forecastHeader{
    padding: 15px;
    margin: 0px;
    font-size: 3em;
}

.headerWrap{
    width: 100%;
    height: 4em;
}

.problemHeader{
    padding: 15px;
    margin: 0px;
    font-size: 2em;
    background-color: rgb(117, 186, 223);
}

.problemHeaderWrap{
    width: 100%;
    height: 4em;
}

.forecastAreaMain{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #030f21;
}

.mainRoseSvg{
    width:fit-content
}

.forecastBottomLine{
    text-align: left;
    float: right;
    width: fit-content;
    height: inherit;
    padding-top: 10px;
    p{
        margin: 0px;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 1.6cap;
        white-space: pre-wrap;
        max-width: 600px;
        min-width: 350px;
        font-size: x-large;
    }
}

.problem{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.problemDescription{
    text-align: left;
    float: right;
    width: fit-content;
    height: fit-content;
    p{
        margin: 0px;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 1.6cap;
        white-space: pre-wrap;
        max-width: 600px;
        min-width: 350px;
        font-size: large;
    }
}