main {
  margin: 1rem;
}

.routeHeaderWrap, .routeHeader {
  width: fit-content;
  margin: 0.5rem;
}

.routeHeader .topline {
  display: inline-block;
  margin: 0px;
}

.routeHeader p.topline {
  padding: 0 0 0 1rem;
}

.routeHeader p:not(.topline) {
  margin-top: 0.5rem;
  width: 400px;
} 

.routeDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.routeDescription p {
  margin: 0 0 0 1rem ;
  width: 400px;
}

.routeDescription svg {
  flex-shrink: 0;
}

hr {
  height: 3px;
  background-color: black;
  border-style: none;
  margin: 0;
  width: 100%;
}

.routeButtonArea{
    width: 100%;
    min-width: 450px;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.regionSelector{
    height: 100px;
    width: 25%;
    min-width: 100px;
    background-color: rgb(117, 186, 223);
    color: #030f21;
    font-family: "Arvo";
    word-spacing: 0.12em;
    border: none;
    border-radius: 10%;
    transition: cubic-bezier(0.42, 0.04, 0.41, 1.06);
    transition-duration: 400ms;
    font-size: 1.4em;
    align-content: center;
    text-align: center;
}

.regionSelector:hover{
    background-color: #030f21;
    color: #bbd2e9;
    scale: 1.05;
}
